.SliderWrapper {
  padding: 0 1rem;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}

.slick-dots {
  position: static;
  padding-bottom: 1rem;
}

.slick-dots.slick-thumb {
  padding-top: 1rem;
}

.slick-dots li {
  width: 50px;
  height: 30px;
  transform: scale(0.9);
  transition: transform 0.15s linear;
}

.slick-dots li.slick-active {
  transform: scale(1.1);
  transition: transform 0.3s linear;
}

.slick-slide {
  transform: scale(0.9);
  transition: transform 0.3s linear;
}

.slick-slide.slick-current {
  transform: scale(1);
  transition: transform 0.15s linear;
}

.slick-slide img {
  width: 100%;
  margin: 0 auto;
}

.slick-slide > div {
  height: fit-content;
}

.slick-slide.slick-current {
  overflow: hidden;
}

.Slider__item {
  display: block !important;
}

.slick-slide.slick-current .Slider__item img {
  transform: scale(1);
  transition: transform 0.2s linear;
}

.slick-slide.slick-current .Slider__item:hover img {
  transform: scale(1.05);
  transition: transform 0.3s linear;
}
