.App {
}

.page {
  min-height: 100vh;
  padding-bottom: 2rem;

  background-color: hsl(210, 44%, 96%);
}

.trailer-modal {
  max-width: 150vh;
}

@media (max-width: 567.98px) {
  .trailer-modal {
    max-width: 100vw;
    margin-left: 0px;
    margin-right: -17px;
  }
}

.trailer-modal .modal-content {
  border: 0px;
  margin: -1px;
}

.trailer-modal .modal-content .modal-header {
  border-bottom: 0px;
}

.trailer-modal .modal-content .modal-footer {
  border-top: 0px;
}

.color-primary {
  color: hsl(217, 59%, 38%);
}

.bg-primary {
  background-color: #0f609b !important;
}
